.restroom-entry {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 15px;
}

.restroom-title {
    margin-left: 20px;
    margin-right: 10px;
}

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 2px;
}

.icon.single-stall {
    background-image: url('../assets/icons/single.svg');
}

.icon.wheelchair-stall {
    background-image: url('../assets/icons/wheelchair.svg');
}

.icon.mirror {
    background-image: url('../assets/icons/mirror.svg');
}

.icon.hand-dryer {
    background-image: url('../assets/icons/dryer.svg');
}

.icon.paper-towel {
    background-image: url('../assets/icons/towel.svg');
}

