.sidebar {
    position: absolute;
    top: 0vw;
    left: calc(min(-20vw, -242px) - 20px);
    height: 100%;
    width: 20vw;
    min-width: 242px;
    border: 0;
    padding: 15px 10px;
    transition: left 0.3s ease-in-out;
    background-color:#747474;
    padding: 20px;
}

.sidebar.open {
    left: 0;
}


.sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.search-input {
    border: 0;
    flex: 1;
    padding: 10px;
    height: 40px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.location-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.close-button {
    border: 0;
    width: 40px; 
    height: 40px;
    padding: 0;
    background-color: rgb(59, 59, 59);
    border-radius: 0px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.location-name {
    font-size: 1.5rem;
}

.location-star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-sidebar-button {
    font-size: 0.8rem;
    align-self: center;
    margin: 10px;
}

.edit-sidebar-button * {
    margin: 3px;
}

.sidebar-item-title {
    text-align: left;
    font-size: 1.25em;
    margin-left: 5px;
}