.add-location-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 25px;
    right: 25px;
    border: 0;
    width: 50px; 
    height: 50px;
    padding: 0;
    /* background-color: #747474; */
    background: linear-gradient(to bottom, #747474, #444444);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .plus {
    --b: 3px;   /* the thickness*/
    --c: #0000 90deg, rgb(255, 255, 255) 0; /* the coloration */
    width: 20px; /* the size */
    aspect-ratio: 1;
    background:
      conic-gradient(from 90deg at var(--b) var(--b),var(--c)) 
      calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
      calc(50%  + var(--b))   calc(50%  + var(--b));
  }