#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

#sidebar {
  z-index: -1;
}

.overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position:absolute;
  top:50%;
  left:50%;
  width: 30%;
  height: 80%;
  padding: 20px;
  transform:translate(-50%, -50%);
  background-color:#747474;
  border-radius: 20px;
  border: 1px solid black;
  overflow: scroll;
}

.overlay-box > div {
  padding: 10px 25px;
}

.overlay-name {
  font-size: 1.5em;
  padding-bottom: 8px;
  border-bottom: solid;
}


.close-overlay-button {
  position: absolute;
  top: 30px;
  right: 30px;
}


